button {
    text-align: center;
    padding: 50px 100px 50px;
    margin: 100px;
    font-weight: bold;
    background-color: goldenrod;
    
}
h1 {
    text-align: center;
    font-size: bold;
    padding: 20px;
}

body {
    background-color: aqua;
}

footer{
    background-color: aquamarine;
    padding: 100px ;
    margin: 100px 20px ;
    text-align: center;
}